#!/bin/bash
# MANAGED_BY_ANSIBLE
# Init script for Hashicorp Vault

dirname=/var/tmp/vault
if [[ ! -d "$dirname" ]]; then
	echo "Cannot see $dirname - exiting"
	exit 42
fi

fname=/usr/local/etc/bash.d/vault.sh
if [[ ! -r "$fname" ]]; then
	echo "Cannot read $fname - exiting"
	exit 42
else
	source $fname
	# override VAULT_ADDR as we don't have a primary yet
	VAULT_ADDR=http://localhost:8200
fi

initialized=$(vault status -format=json | jq .initialized)
if ! $initialized; then
	tmpfile=$dirname/tmpinit
	/opt/hashicorp/bin/vault operator init | egrep "Unseal Key|Initial Root Token" | tr -d ' ' | awk -F: '{print $2}' > $tmpfile
	head -5 $tmpfile > $dirname/keys
	tail -1 $tmpfile > $dirname/token
	chmod 400 $dirname/keys
	chmod 400 $dirname/token
	/bin/rm -f $tmpfile
	/opt/hashicorp/bin/vault status
	initialized=$(vault status -format=json | jq .initialized)
	if $initialized; then
		exit 0
	else
		exit 1
	fi
else
	exit 99
fi

# --------------------------------

exit 0
