{% if manifest_etype == "credential" %}
{{ manifest_etype }} kv/{{ manifest_path }} {{ manifest_etype }}.d/{{ manifest_filename }}.json {{ manifest_region }} {{ manifest_secret_name }}
{% elif manifest_etype == "policy" %}
{{ manifest_etype }} {{ manifest_filename }} {{ manifest_etype }}.d/{{ manifest_filename }}.hcl FIELD_4 FIELD_5
{% elif manifest_etype == "role" %}
{{ manifest_etype }} {{ manifest_path }} {{ manifest_etype }}.d/{{ manifest_filename }}.json FIELD_4 FIELD_5
{% else %}
# unexpected entity type {{ manifest_etype }} {{ manifest_path }}
{% endif %}
