#!/bin/bash
# MANAGED_BY_ANSIBLE
# {{inventory_hostname}}
# Unseal script for Hashicorp Vault

dirname=/var/tmp/vault
if [[ ! -d "$dirname" ]]; then
	echo "Cannot see $dirname - exiting"
	exit 42
fi

fname=/usr/local/etc/bash.d/vault.sh
if [[ ! -r "$fname" ]]; then
	echo "Cannot read $fname - exiting"
	exit 42
fi
source $fname

fname=${dirname}/keys
if [[ ! -r "$fname" ]]; then
	echo "Cannot read $fname - exiting"
	exit 42
fi

sealed=$(vault status -format=json | jq .sealed)
if $sealed; then
	for key in $(head -3 $fname); do
		/opt/hashicorp/bin/vault operator unseal $key
	done
	sealed=$(vault status -format=json | jq .sealed)
	if $sealed; then
		exit 1
	else
		exit 0
	fi
else
	exit 99
fi

exit 1
