[Unit]
Description=Vault service process
Documentation=https://vaultproject.io/docs
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ vault_etc_dir }}/server.hcl
 
[Service]
Environment="VAULT_ENABLE_FILE_PERMISSIONS_CHECK=1"
Environment="GOMAXPROCS=2"
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ hashicorp_dir_bin }}/vault server -config={{ vault_etc_dir }}/server.hcl
KillSignal=SIGTERM
LimitMEMLOCK=infinity
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
