# --------------------------------
# bash include vault.sh MANAGED_BY_ANSIBLE
export PATH="{{hashicorp_dir_bin}}:${PATH}"
alias vault={{hashicorp_dir_bin}}/vault
export VAULT_ADDR={{vault_protocol}}://{{local_ipv4}}:{{vault_api_port}}
# --------------------------------
