# --------------------------------
# MANAGED_BY_ANSIBLE
# {{inventory_hostname}}
# bash include for Hashicorp Vault
export PATH="{{hashicorp_dir_bin}}:${PATH}"
alias vault={{hashicorp_dir_bin}}/vault
export VAULT_ADDR={{vault_protocol}}://{{vault_active_server}}:{{vault_api_port}}
# --------------------------------
